<!-- navbar.component.html -->
<nav id="sidebar">
    <div class="sidebar-header">
      <img [src]="logoSrc" alt="">
    </div>
  <div class="">
    
  </div>
    <ul class="list-unstyled components">
      <li>
        <a class="linkbar p-3" href="#">Home</a>
      </li>
      <li>
        <a  class="linkbar  p-3" href="#">About</a>
      </li>
      <li>
        <a  class="linkbar  p-3" href="#">Services</a>
      </li>
      <!-- Add more navbar items as needed -->
    </ul>
  </nav>
  
  <div class="" id="content">
    <div class="" id="sidebarCollapse" >
      <i class=" fas fa-align-left"></i>
      
    </div>
  </div>
  