
<div class=" container text-center" style="background-color: #4F4B36;max-width: 1000px;" >
    <img [src]="imghost" alt="" class="mt-2 mb-2">
    <div class="bg-black text-white  card rounded-0 ">
        <div class="card-title mt-3 mb-2 text-center" style="width: 100%;" >
          <h1 class="title  " style="color:#BFB274 ;">Your career as a model and trade fair hostess</h1>
    
        
        </div>
        <div class="card-body text-center m-3" >
            <p class="card-text text-center" >Do you have an open and communicative personality and want to showcase your charm? If you are looking for an attractive earning opportunity or a varied part-time job, then Diamonds Model Agency is the right place for you.</p>
        </div>
      </div>
      <div class="bg-black text-white mt-2 rounded-0 m-auto ">
        <div class="bg-black text-white  card rounded-0  ml-auto mr-auto "  >
            <div class="card-title mt-3 mb-2 text-center"  >
                <h2 class="titleh2">Apply now</h2>
        
            
            </div>
            <div class="card-body text-center m-3" >
                <form class="text-start ">
                    <h1 class="titleh3">Info Personal</h1>
                    <hr class="mt-2 mb-5">
                    <Label class="mylabel">Gender 
                    </Label>
                    <div class="mb-3 form-check">
                        
                        <div class="row">
                            
                            <div class="col-md-4">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label mylabel pl-2" for="exampleCheck1">Male</label>
                                
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label mylabel pl-2" for="exampleCheck1">Femelle</label>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label mylabel pl-2" for="exampleCheck1">Secret</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="mb-3 ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="firstName" name="firstName" id='firstName' required />
                                    <label for="firstName" class="form__label">First name</label>
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="lastName" name="lastName" id='lastName' required />
                                    <label for="lastName" class="form__label">Last name</label>
                                  </div>
                            </div>
                        </div>
                      </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="18-05-2002" name="dateOfBirth" id='dateOfBirth' required />
                                    <label for="dateOfBirth" class="form__label">Date of Birth</label>
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="+2126.." name="phone" id='phone' required />
                                    <label for="phone" class="form__label">Phone</label>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                                    <label for="name" class="form__label">Email</label>
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                                    <label for="name" class="form__label">Confirm email</label>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-5">
                        <div class="row mb-2">
                            <div class="col-md-6">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                                    <label for="name" class="form__label">Main Location </label>
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                                    <label for="name" class="form__label">Other locations </label>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <h1 class="text-start titleh3 mt-5">Info Body </h1>
  
                    <hr class="mt-2 mb-5">
                    <div class="mb-5">
                        <div class="row mb-2">
                            <div class="col-md-4">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                                    <label for="name" class="form__label">Size </label>
                                  </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                                    <label for="name" class="form__label">shoe size  </label>
                                  </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                                    <label for="name" class="form__label">Hair color  </label>
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                                    <label for="name" class="form__label">Body measurements   </label>
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                                    <label for="name" class="form__label">Clothing size   </label>
                                  </div>
                            </div>
                        </div>
                    </div>
                 
                    <h1 class="text-start titleh3 mt-5">Language </h1>
  
                    <hr class="mt-2 mb-5">
                    <div class="mb-3">
                        <div class="row mb-2">
                            <div class="col-md-6">
                                <div class="form__group field">
                                   
                                    <label for="name" class="form__label">What is your mother tongue </label>
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                                    
                                  </div>
                            </div>
                           
                            <div class="col-md-6">
                                <div class="form__group field">
                                   
                                    <label for="name" class="form__label">What Langauges are you fluent </label>
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                                    
                                  </div>
                            </div>
                           
                            <div class="col-md-6">
                                <div class="form__group field">
                                   
                                    <label for="name" class="form__label">Which langauges do you have basic knowledge </label>
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                                    
                                  </div>
                            </div>
                           
                        </div>
                    </div>

    <h1 class="text-start titleh3 mt-5 ">Mes photos</h1>
  
    <hr class="mt-2 mb-5">
  
    <div class="row text-center">
        <div class="col-lg-3 col-md-4 col-12" *ngIf="imageUrl">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" [src]="imageUrl" alt="" *ngIf="imageUrl" style="width: 100%; height: auto; " alt="">
            </a>
        </div>
    
        <div class="col-lg-3 col-md-4 col-12">
            <label for="selectFile" class="d-flex justify-content-center align-items-center mb-4 h-100" style="background-color: #BFB274;">
                <i class="fas fa-plus-circle  fa-5x" ></i>
            </label>
    
            <input type="file" id="selectFile" (change)="selectImage($event)" hidden class="form-control">
        </div>
    </div>
    <div class="d-flex justify-content-between mt-3">
        
        <div class="form-check m-3">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label mylabel pl-2" for="exampleCheck1">Confirmation</label>
          </div>
          <button type="submit" class="button-48 m-3" >Submit</button>

    </div>
   
    </form>
            </div> 
            
          </div>
       
      </div>

    
