<!-- absences.component.html -->
<div class=" container text-center pt-3"  >

  <div class="card mx-3 dgcard">
    <!-- Card content -->
    <div class="card-header ">Timeline des activités</div>
    <div class="card-body" >
      <div #timelineContainer ></div>
    </div></div>
  


  <div class="row">
    <div class="col-md-6 col-12">
      <div class="card m-3 dgcard">
        <!-- Card content -->
        <div class="card-header">Ajouter une Absence</div>
        <div class="card-body">
          
          <div class="card-text">
            <!-- <mat-form-field class="form__group fieldmt-2">
              <mat-label>Catégorie de l'absence</mat-label>
              <mat-select #categorie >
                <mat-option *ngFor="let categorie of categorieAbbsence" [value]="categorie.value">{{categorie.viewValue}}</mat-option>
              </mat-select>
              
              <select class="form-select" aria-label="Default select example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
            </mat-form-field> -->
            <div class="form-group mt-2 text-start">
              <label class=" mylabel mt-4 mb-2 ml-2" for="categorie">Catégorie de l'absence</label>
              <select class="form-select" id="categorie" #categorie>
                <option selected>Open this select menu</option>
                <option *ngFor="let categorie of categorieAbbsence" [value]="categorie.value">{{categorie.viewValue}}</option>
              </select>
            </div>
            
     
          <div class="m-auto formw__group field mt-2 ms-2  mb-3 " style="width: 97%;">
          
            <input matInput class="formw__field " placeholder="Meeting" #raison>
            <label class="formw__label">Raison</label>
          </div>
          <div class="m-auto formw__group field mt-2 ms-2  mb-3 " style="width: 97%;">
          
            <input type="datetime-local" class="formw__field " #dateDebut required>
            <label class="formw__label">Date de début</label>
          </div>
          
          
          <div class="m-auto formw__group field mt-2 ms-2  mb-3 " style="width: 97%;">
            
            <input type="datetime-local" class="formw__field " #dateFin required>
            <label class="formw__label">Date de Fin</label>
          </div>
          <button (click)="ajouterAbsence(dateDebut.value, dateFin.value, raison.value , categorie.value)" class="button-48 mt-2 dgcard-footer">ajouter</button>
        </div>
         
        </div>
      
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="card m-3 dgcard">
        <!-- Card content -->
        <div class="card-header ">Liste des absences</div>
        <div class="card-body" style="overflow-y: scroll; height:396px;">
          
          <div class="dglistcard" *ngFor="let absence of absences; let i = index">
            <p> De : {{ convertDateFormat(absence.dateStart) }} à {{ convertDateFormat(absence.dateEnd)  }}</p>
            <div>
             <a  (click)="supprimerAbsence(i)"><i class="fas fa-trash"></i></a> 
            </div>
          </div>
         
          <!-- <ul  >
            <li class="card-text" *ngFor="let absence of absences; let i = index" >
             De : {{ convertDateFormat(absence.dateStart) }} à {{ convertDateFormat(absence.dateEnd)  }}
              <button class="btn btn-outline-danger m-3 btn-sm p-2" (click)="supprimerAbsence(i)">
                <i class="bi bi-trash">X</i> 
              </button> 
              
               
              
              
            </li>
          </ul> -->
        
        </div>
      </div>
    </div>
  </div>

  

  <!-- <div class="d-flex justify-content-between">
    <div class="card ms-md-3 mt-3 me-md-1 mr-2" style="width: 48%;">
      <div class="card-header">Ajouter une Absence</div>
      <div class="card-body">
        
        <p class="card-text">
          <mat-form-field>
            <mat-label>Catégorie de l'absence</mat-label>
            <mat-select  #categorie>
              @for (categorie of categorieAbbsence; track categorie) {
                <mat-option [value]="categorie.value">{{categorie.viewValue}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </p>
        <p class="card-text">
          <mat-form-field class="example-full-width">
            <mat-label>Raison</mat-label>
            <input matInput placeholder="Meeting" #raison>
          </mat-form-field>
        </p>
        <h2 class="card-title my-3" >Date de début</h2>
        <p class="card-text">
          
          <input type="datetime-local" #dateDebut required></p>
          
        <h2 class="card-title my-3" >Date de Fin</h2>
          <p class="card-text">
            
            <input type="datetime-local" #dateFin required></p>
    
        <a  (click)="ajouterAbsence(dateDebut.value, dateFin.value, raison.value , categorie.value)" class="btn btn-primary my-3">Ajouter</a>
      </div>
    
    
    </div>
    <div class="card col-5 me-3 mt-3 ms-2" style="width: 48%;" >
      <div class="card-header">Liste des absences</div>
      <div class="card-body " style="overflow-y: scroll; height:400px;">
        <ul  >
          <li class="card-text" *ngFor="let absence of absences; let i = index" >
           De : {{ convertDateFormat(absence.dateStart) }} à {{ convertDateFormat(absence.dateEnd)  }}
            <button class="btn btn-outline-danger m-3 btn-sm p-2" (click)="supprimerAbsence(i)">
              <i class="bi bi-trash">X</i> 
            </button> 
          </li>
        </ul>
      
      </div>
    </div>

    
  </div> -->
  <!-- disponibilites.component.html -->
  <div class="card m-3 dgcard" >
    <div class="card-header">Calendrier des absences</div>
    <div class="card-body">
      <div  id='calendar'></div>
    </div></div>
  
</div>

