<!-- <div class="navbar">
    <img [src]="logoSrc" alt="Website Logo" class="logo">
    <a href="javascript:void(0);" class="icon" (click)="toggleMenu()">&#9776;</a>
    <div class="menu" [class.show]="menuOpen">
      <a href="#home">Home</a>
      <a href="#booking">Booking</a>
      <a href="#agency">Agency</a>
      <a href="#contact">Contact</a>
    </div>
  </div> -->

  <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Enable both scrolling & backdrop</button>

  <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <p>Try scrolling the rest of the page to see this option in action.</p>
    </div>
  </div> -->

  <div class="navbar">
    <img [src]="logoSrc" alt="Website Logo" class="logo">
    <a class="mr-10 fs-3" type="button" data-bs-toggle="offcanvas" style="color: #BFB274;" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">&#9776;</a>

    <div class="offcanvas bg-black offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close " style="color: #BFB274;" data-bs-dismiss="offcanvas" aria-label="Close">gg</button>
        </div>
        <div class="offcanvas-body bg-black text-start  " style="height: 80vh;">
            <div class="d-flex flex-column align-items-start" >
                
              <img [src]="logoSrc" alt="Website Logo" class="logo mb-5">
                <div class="card bg-black" style="height: 4rem;width: 100%;">
                  <div class="card-body">
                    <h5 class="card-title"  style="color: #BFB274;">Home</h5>
                   
                  </div>
                </div>
               
                <div class="card bg-black" style="height: 4rem;width: 100%;">
                  <div class="card-body">
                    <h5 class="card-title"  style="color: #BFB274;">Booking</h5>
                   
                  </div>
                </div>
                <div class="card bg-black" style="height: 4rem;width: 100%;">
                  <div class="card-body">
                    <h5 class="card-title"  style="color: #BFB274;">Agency</h5>
                   
                  </div>
                </div>
                <div class="card bg-black" style="height: 4rem;width: 100%;">
                  <div class="card-body">
                    <h5 class="card-title"  style="color: #BFB274;">Contact</h5>
                   
                  </div>
                </div>
                <div class="card bg-black" style="height: 4rem;width: 100%;">
                  <div class="card-body">
                    <h5 class="card-title"  style="color: #BFB274;"><i class="fas fa-solid fa-user mr-2" style="color: #BFB274;"></i>login</h5>
                   
                  </div>
                </div>
                <!-- <div class="card bg-black" style="height: 4rem;width: 100%;">
                  <div class="card-body">
                    
                      <div class="row ">
                        <div class="col">
                         <div class="p-3"> <a href="#"><i class="fab fa-twitter icon"></i></a></div>
                        </div>
                        <div class="col">
                          <div class="p-3"><a href="#"><i class="fab fa-facebook icon"></i></a></div>
                        </div>
                        <div class="col">
                          <div class="p-3"><a href="#"><i class="fab fa-instagram icon"></i></a></div>
                        </div>
                      
                    </div>
                   
                  </div>
                </div> -->
            </div>
            <div class="p-3 text-start"><a href="#"><i class="fab fa-instagram icon"></i></a></div>
            
           <div>
            
            
            <a href="#agency" class=" position-absolute bottom-0 mb-5" style="color: #BFB274;">Language</a>
           </div>
        </div>
    </div>
</div>

